* {
    
}

body {
    padding-bottom:50px;
}
nav {
    background-color: black;
}

.container {
    color: white;
}
.container p {
    color: #e6e6e6;
}

.resume {
    border-radius:30px;
    margin-top:3%;
    background-color: #e6e6e6;
    color: black;
    max-width:800px;
}
strong {
    padding-left: 0 !important;
}
.resume * {
    padding-left:3%;
}
.resume h3 {
    padding-left:0;
    padding-top:1%;
}
.resume h3:first-child {
    padding-top:4%;
}
.list-group-item {
    background-color: #e6e6e6;
    padding-left:0;
    border:none;
}
.list-group {
    color:black;
    background-color: #e6e6e6;
}

li {
    padding-left:15px;
    list-style:none;
}
.small-text {
    font-size:12px;
}

.col_md {
    padding-bottom:10px;
}

.resume ul:last-child {
    padding-bottom:20px;
}
.parenttitle {
    padding-bottom:0px;
}

.subtitle {
    padding-bottom:3px;
    padding-left:0px;
    font-size:15px;
}
em {
    padding-left:0px !important;
}
.vertical-center {
    margin-top:40%;
}
.contact {
    padding-bottom:20px;
    color:#404040 !important;

}
.btn {
    margin-right:10px;
    margin-left:10px;
    margin-bottom:30px;
}
.contact-box {
    border-radius:30px;
    background-color: #d9d9d9;
    max-width:500px;
    color:black !important;
}
.display-4 {
    margin-top:30px !important;
}
.btn-primary {
    background-color:rgb(45, 45, 45);
    border-color:white;
}
.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color:white;
  }
#plink {
    color:black !important;
    padding-left:0 !important;
}